<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <style>
        table {
            border: 1px solid #000;
        }

        th, td {
            border: 1px dotted #555;
        }
    </style>
</head>
<body>
There are <span th:text="${customers.size()}"></span> customer(s).
<table>
    <caption th:text="#{Customer}"></caption>
    <thead>
    <tr>
        <td th:text="#{ID}"></td>
        <td th:text="#{Name}"></td>
        <td th:text="#{Email}"></td>
        <td th:text="#{Address}"></td>
        <td colspan="2"><a th:href="@{/customers/add}">Add Customer</a></td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${customers}">
        <td th:text="${c.id}"></td>
        <td>
            <a th:href="@{/customers/{id}(id=${c.id})}" th:text="${c.name}"></a>
        </td>
        <td th:text="${c.email}"></td>
        <td th:text="${c.address}"></td>
        <td><a th:href="@{customers/{id}/edit(id=${c.getId()})}" th:text="edit"></a></td>
        <td><a th:href="@{customers/{id}/delete(id=${c.getId()})}" th:text="delete"></a></td>
    </tr>

    </tbody>
</table>
Language: <a href="?lang=en">English</a> | <a href="?lang=fr">French</a>

</body>
</html>